{% extends "layout.html" %}
{% block content %}
<!--    <h1>Reservation</h1>-->
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Filter For Reservation</legend>
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg datepicker") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.club_name.label(class="form-control-label") }}
                    <select name="club_name" class="input-group">
                        {% for club_name in club_names %}
                             <option value="{{club_name}}">{{club_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{ form.surface.label(class="form-control-label") }}
                    <select name="surface_name" class="input-group">
                        <option value="all">all</option>
                        {% for surface_name in surface_names %}
                             <option value="{{surface_name}}">{{surface_name}}</option>
                        {% endfor %}
                    </select>
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.filter(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if show %}
        {% for court_reservations in courts_reservations %}
          {% set court, surface_name, reservations = court_reservations %}
          <table class="table">
              <thead class="thead-dark mt-3">
                <tr>
                  <th scope="col">Court Number</th>
                  <th scope="col">Surface</th>
                  <th scope="col">Roof</th>
                  <th scope="col">Lights</th>
                  <th scope="col">Hour</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for hour in range(8, 23) %}
                  {% if hour in reservations %}
                    <tr class="bg-danger">
                        <th scope="row"> {{ court.court_number }} </th>
                        <th scope="row"> {{ surface_name }} </th>
                        <th scope="row"> {{ court.roof }} </th>
                        <th scope="row"> {{ court.lights }} </th>
                        <th scope="row"> {{ hour }} </th>
                        <th scope="row"> taken </th>
                    </tr>
                  {% else %}
                    <tr class="bg-success">
                        <th scope="row"> {{ court.court_number }} </th>
                        <th scope="row"> {{ surface_name }} </th>
                        <th scope="row"> {{ court.roof }} </th>
                        <th scope="row"> {{ court.lights }} </th>
                        <th scope="row">{{hour}}</th>
                        <th scope="row">free</th>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
          </table>
        {% endfor %}

        {% if current_user.is_authenticated %}
        <form method="POST" action="">
            {{ reserve.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reserve</legend>
                <div class="form-group">
                    {{ reserve.date.label(class="form-control-label") }}
                    {% if reserve.date.errors %}
                        {{ reserve.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in reserve.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ reserve.date(class="form-control form-control-lg datepicker") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ reserve.club_name.label(class="form-control-label") }}
                    {% if reserve.club_name.errors %}
                        {{ reserve.club_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in reserve.club_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ reserve.club_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ reserve.court_number.label(class="form-control-label") }}
                    {% if reserve.court_number.errors %}
                        {{ reserve.court_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in reserve.court_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ reserve.court_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ reserve.hour_from.label(class="form-control-label") }}
                    {% if reserve.hour_from.errors %}
                        {{ reserve.hour_from(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in reserve.hour_from.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ reserve.hour_from(class="form-control form-control-lg datepicker") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ reserve.hour_to.label(class="form-control-label") }}
                    {% if reserve.hour_to.errors %}
                        {{ reserve.hour_to(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in reserve.hour_to.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ reserve.hour_to(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ reserve.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        {% endif %}
    {% endif %}
{% endblock content %}